.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

.centered-content {
  margin-bottom: 20px;
}
