.post-form {
  max-width: 400px;
  margin: auto;
  padding-top: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

.file-input {
  margin-bottom: 20px;
}

.upload-status {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.submit-button {
  width: 100%;
}

.download{
  margin-bottom: 20px;
  align-items: center;
  display: flex;

}
